<h1>{{title}}</h1>
<div class="grid-container">
    <div class="left">
        <app-vertical-list
            [heading]="'Notable Events'"
            [items]="notableEvents">
        </app-vertical-list>
    </div>
    <!-- TODO: Make these next to each other; enable editing -->
    <div class="center">
        <app-vertical-list
            [heading]="'Truck Routes'"
            [items]="truckRoutes">
        </app-vertical-list>
    </div>
    <div class="right">
        <app-vertical-list
            [heading]="'Drivers'"
            [items]="drivers">
        </app-vertical-list>
    </div>
</div>

<app-heroes></app-heroes>